.bg-form{
    -fx-background-color: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #ff5151;
}

.minimize{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover{
    -fx-background-color: #c5273f;
}